.navbar {
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;
  .dropdown {
    position: static;
  }
  .dropdown-menu {
    top: 48px;
    right: 15px;
    left: 15px;
    border: 0;
    border-radius: 0;
    display: block;
    opacity: 0;
    height: 0;
    transition: all 0.3s ease-in;
    overflow: hidden;
    &.show {
      opacity: 1;
      height: 340px;
    }
  }
}

.drop-item {
  a {
    color: #212529;
  }
  img {
    opacity: 0.8;
  }
}

.drop-item:hover {
  a {
    color: #a8d02f;
  }
  img {
    opacity: 1;
  }
}

.nav-link {
  font-size: 13px;
  span {
    font-size: 7px;
  }
}

.drop-date {
  font-size: 13px;
}

* {box-sizing: border-box;}
.my-search {
    font-size: 12px;
    position: relative;
    width: 300px;
    margin: 0 auto;
    height: 42px;

  input {
    height: 42px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    border-bottom: 2px solid transparent;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
  }

  input:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #494949;
  }

  button {
    color: #494949;
    border: none;
    height: 42px;
    width: 42px;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    cursor: pointer;
  }

  button:before {
    font-size: 16px;
  }
}

