.owl-theme {
  .img {
    display: block;
    padding-top: 50%;
  }
  &:hover {
    .carousel-arrow-left, .carousel-arrow-right {
      opacity: 1;
    }
  }
  .carousel-arrow-left, .carousel-arrow-right{
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    font-size: 20px;
    line-height: 25px;
    color: black;
    background-color: rgba(255, 255, 255, 0.79);
    border: none;
    border-radius: 50%;
    outline: none;
    transition: opacity 0.5s;
    opacity: 0;
  }
  .carousel-arrow-left {
    left: 20px;
  }
  .carousel-arrow-right {
    right: 20px;
  }
  .owl-item.center {
    .carousel-header {
      opacity: 1;
    }
  }
  .carousel-header {
    top: 50%;
    position: absolute;
    left: 100px;
    right: 100px;
    padding: 25px 25px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: opacity 0.5s linear;
    opacity: 0;
    transform: translateY(-50%);
    overflow: hidden;
    p {
      font-size: 11px;
      margin-bottom: 0;
    }
    h3, p {
      a {
        color: white;
      }
    }
  }
}