body {
  font-family: 'Merriweather', serif;
}

p, a, li {
  font-family: 'Poppins', sans-serif;
}

h6, h5, h3 {
  a {
    font-family: 'Merriweather', serif;
  }
}

ul {
  list-style: none;
}

.material-icons {
  font-size: 17px;
}

.btn {
  font-size: 13px;
  padding: 7px 12px;
}

.btn:hover {
  background: #a8d02f;
  border: 1px solid #a8d02f;
}

.btn-content:hover {
  background: #c1ea30;
  border: 1px solid #c1ea30;
}

a {
  color: #212529;
  text-decoration: none !important;
}

a:hover {
  color: #a8d02f;
}

.line {
  border-bottom: 1px solid #ebebeb;
}

button:focus {
  outline-color: #a8d02f;
}