body {
  font-family: 'Poppins', sans-serif;
}

.btn {
   font-size: 13px;
  padding: 7px 12px;
}

.btn:hover {
   background: #a8d02f;
   border: 1px solid #a8d02f;
 }

.btn-content:hover {
  background: #c1ea30;
  border: 1px solid #c1ea30;
}