$navbar-nav-link-padding-x: 20px;
$navbar-light-active-color: #a8d02f;
$navbar-light-hover-color: #a8d02f;

$success: #a8d02f;
$secondary: #aaaaaa;

$btn-border-radius: none;
$btn-border-radius-lg: none;
$btn-border-radius-sm: none;
$btn-link-disabled-color: #000000;

$input-border-radius: none;
$input-bg: transparent;
$input-font-size: 11px;
$input-padding-y: 9px;
